<% layout ('layouts/adm') -%>

<div class="container">
  <h1>Editar Usuário</h1>

  <div>

    <img src="<%= user.image%>" alt="Profile Image" srcset="" width="70px;">

    <input type="text" name="name" value="<%= user.name%>" />
  </div>
</div>
